.section-benefits {
    width: 100%;
    /*background-color: white;*/
    background-image: url("img/obsh_3.png");
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: center;
    background-size: 100% 380px;
    padding-bottom: 100px;
    /*    -webkit-box-shadow: 0px 6px 20px 0px #0000007d;
    -moz-box-shadow: 0px 6px 20px 0px #0000007d;
    box-shadow: 0px 6px 20px 0px #0000007d;*/
}

.benefits-main {
    margin-top: 90px;
}

.benefits-headline .maintext {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 45px;
    color: white;
    text-shadow: 0px 0px 10px #666666;
}

.section-benefits .container {
    margin-inline: auto;
    background-color: #ffffff00;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    border-style: unset;
}

.benefits-headline .subtext {
    text-align: center;
    margin-bottom: 30px;
    color: white;
    text-shadow: 0px 0px 9px #959393
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.card-container a, a:visited {
    text-decoration: none;
    color: inherit;
}

.card-base {
    display: flex;
    min-height: fit-content;
    width: 15vw;
    height: 385px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    -webkit-box-shadow: 0px 10px 20px 5px rgb(0 0 0 / 21%);
    -moz-box-shadow: 0px 10px 20px 5px rgb(0 0 0 / 21%);
    box-shadow: 0px 10px 20px 5px rgb(0 0 0 / 21%);
    border-radius: 50px;
}

.card-base:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}

.card-base img {
    height: 5.5vw;
    margin-bottom: 40px;
}

.card-text {
    font-weight: 700;
    font-size: 1.3em;
    /*1.1vw*/
    margin: 5px;
    margin-bottom: 20px;
    text-align: center;
    width: min(100% - 2rem, 90%);
    text-shadow: 0px 0px 3px #d7d7d7;
}

.card-subText {
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    width: min(100% - 2rem, 90%);
    line-height: 1.4em;
    /* color: #00000082;*/
    color: #739b85;
    text-shadow: 0px 0px 3px #d7d7d7;
}